<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Root</h1>
    <h1>Categories:</h1>
    <div class="links">
        <a href="/action">Action</a>
        <a href="/rpg">RPG</a>
        <a href="/strategy">Strategy</a>
    </div>
    <div class="list-of-games">
        <ul>
            <% games.forEach((game) => { %>
                <li><%= game.name %></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>