<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RPG Games</h1>
    <a href="/">Home</a>
    <div class="rpg-game-list">
        <ul>
            <% games.forEach((game) => { %>
                <li><%= game.name %></li>
            <% }) %>
        </ul>
    </div>
</body>
</html>